<div class="container" style="margin: 200px 0 0 600px;">
    <div class="row">
        <div class="col-lg-10" style="margin-left 500px;">
            <h2>ご購入ありがとうございました！</h2>
        </div>
    </div>
    <div class="row" style="margin: 50px 0 0 130px;">
        <%= link_to "トップページに戻る", root_path, class: "btn btn-primary btn-lg" %></div>
    </div>
</div>

   