<div class="container" style="margin: 200px 0 0 600px;">
    <div class="row">
        <div class="col-lg-10" style="margin-left 500px;">
            <h2>ご購入ありがとうございました！</h2>
        </div>
    </div>
</div>